body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
}


/* Page style elements */


#top-page{
    background-color: rgba(228, 213, 1, 0.932);
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
}

#top-page a{
    text-decoration: none;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

#top-page span{
    display: flex;
    align-items: center;
}

.current-page{
    text-decoration: underline;
}

.svg-picture{
    display: inline-block;
    height: 40px;
    margin-right: 5px;
}

#footer, #bottom-page{
    margin-top: 30px;
    background-color: #a1df2ec5;
    height: 110px;
    width:100%;
}

#footer{
    position: absolute;
    bottom: 0;
}


/* Ůvod */


#popis{
    margin: 20px;
    font-size: 18px;
    line-height: 24px;
}

#popis h1{
    text-align: center;
    padding: 15px;
}


/* Counter */

.all_cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rbutton{
    width: 70px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    background-color: rgba(228, 213, 1, 0.932);
    transition-duration: 150ms;
}

#rbutton:hover{
    background-color: rgba(187, 174, 0, 0.932);;
}

.choose-color{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
}

.choose-color:focus{
    background: red;
}

.choose-color:nth-child(1){
    background-color: red;
}

.choose-color:nth-child(2){
    background-color: aqua;
}

.choose-color:nth-child(3){
    background-color: gray;
}

.card{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 0px;
}

.card:hover{
    box-shadow: 0px 0px 10px 10px rgba(228, 213, 1, 0.932);
}



#srdce, #kule, #listy, #krize{
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#cena{
    margin-top: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#changer, #flek, #status{
    margin: 3px;
}

.cenabutton{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: rgb(248, 10, 10) solid;
    background-color: rgba(255, 0, 43, 0.459);
    transition-duration: 0.15s;
 }

 .cenabutton:hover{
    background-color: rgb(248, 10, 10);
 }

#Typ, #Fleky{
    border-radius: 10px;
    height: 40px;
    width: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: rgb(248, 10, 10) solid;
    background-color: rgba(255, 0, 43, 0.459);
    margin: 5px;
}

.slider-container{
    position: relative;
    overflow: hidden;
}

.slider-container-slide{
    transition: transform 0.5s ease-in-out;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
  

.slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    transition: 0.4s;
}
  
input[type="checkbox"]:checked + .slider {
    background-color: #66bb6a;
}
  
input[type="checkbox"]:checked + .slider:before {
    transform: translateX(30px);
}