body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
}


/* Page style elements */


#top-page{
    background-color: rgba(228, 213, 1, 0.932);
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
}

#top-page a{
    text-decoration: none;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

#top-page span{
    display: flex;
    align-items: center;
}

.current-page{
    text-decoration: underline!important;
}

.svg-picture{
    display: inline-block;
    height: 40px;
    margin-right: 5px;
}

#footer, #bottom-page{
    margin-top: 30px;
    background-color: rgba(228, 213, 1, 0.932);
    height: 110px;
    width:100%;
}

#footer{
    position: absolute;
    bottom: 0;
}


/* Ůvod */


#popis{
    margin: 20px;
    font-size: 18px;
    line-height: 24px;
}

#popis h1{
    text-align: center;
    padding: 15px;
}


/* Counter */

.all_cards{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rbutton{
    width: 70px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    background-color: rgba(228, 213, 1, 0.932);
    transition-duration: 150ms;
}

#rbutton:hover{
    background-color: rgba(187, 174, 0, 0.932);;
}

.card{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    padding: 0px;
}

.card:hover{
    box-shadow: 0px 0px 10px 10px rgba(228, 213, 1, 0.932);
}

#srdce, #kule, #listy, #krize{
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: auto;
}


/* price */


#cena{
    align-items: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

#cena{
    align-items: center;
    margin-top: 15px;
}

.game-mode{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(228, 213, 1, 0.932);
    font-family: 'Karla', sans-serif;
}

.game-mode[data-selected="true"]{
    background-color: rgba(22, 230, 33, 0.932);
}

.game-choice{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: auto;
}

.calculate{
    margin-top: 20px;
}

#main-volba{
    display: flex;
    justify-content: space-between;
}

.typ-hry{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}